*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #525252;

    
}

:root{

    --size-400: 1rem;
    --fs-400: 1rem;
    --fs-semi-bold: 200;


}


.primary-header{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;


}   


section{
    margin-inline: auto;
    width: 1200px;
    padding-top: var(--size-400);

}

.home{
    justify-self: start;
    cursor: pointer;
}


.user{
    justify-self: center;
    margin-left: 7rem;
    
}
.body p {
    margin: 3rem 0 3rem 0;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 100%;
    margin-block: 1rem;
    display: grid;
    grid-auto-columns: 1fr 1fr 2fr;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;

}

.imgbox{
    height: 9rem;
    display: flex;
    justify-content: center;
}

.box img{
    border-radius: 1rem;
    max-height: 100%;
}

.box p{
    font-size: 1rem;
    padding: .5rem;
}

.box:hover{
    background-color: #EDE4E3;
    box-shadow: .1rem .1rem .7rem rgba(0 0 0.2);
    cursor: pointer;
}

footer{
    background-color: #EDE4E3;
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

}

footer p {
    margin-inline: auto;
    cursor: pointer;
    text-align: center;

}

footer:first-of-type div p{
    padding: .45rem;
}
footer:first-of-type div{
    justify-self: center;
}

.footer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
